.professional-section{
    width: 100vw;
    height: 100vh;
}
.pro-title{
    padding: 40px 0px 0px 40px;
    color: whitesmoke;
}
.pro-title-text{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.e-img-con{
    margin: 40px 40px 0px 40px;
    min-height: 53vh;
    display: flex;
    gap: 1.3vw;
}
.pic:hover{
    color: var(--color-text);
    cursor: pointer;
    opacity: 1;
    width: 18.7vw;
    transition: 0.5s all ease-in-out;
}
.pic{
    color: whitesmoke;
    width: 17.8vw;
    opacity: .6;
    transition: 0.3s all ease-in-out;
}
.e-img{
    height: 85%;
}
.e-img-text{
    width: 85%;
    height: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2px;
}
.e-img-text p{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.e-img-text-main{
    font-size: 1.1rem;
}
.e-img-text-sub{
    font-size: .7rem;
}