.contact-section{
    width: 40vw;
    height: 100vh;
    background-color: var(--color-background);
}
.con-title{
    padding: 40px 0px 0px 40px;
    color: whitesmoke;
}
.con-title-text{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}