.blob-bg{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    position: sticky;
}
.blob-outer-container{
    height: 100vh;
    width: 100vw;
    inset: 0;
    margin: auto;
    filter: blur(100px);
}

.blob-inner-container{
    border-radius: 99999px;
    inset: 0;
    width: 100vw;
    height: 50vh;
    min-width: 1000px;
    overflow: hidden;
    transform: translateY(-250px);
}

.blob{
    width: 100vw;
    height: 100%;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, var(--color-accent), var(--color-primary), var(--color-background), var(--color-accent), var(--color-primary), var(--color-accent), var(--color-primary), var(--color-secondary), var(--color-background), var(--color-background-faded), var(--color-accent), var(--color-primary), var(--color-secondary));
    animation: spinBlob 6s linear infinite;
}

@keyframes spinBlob {
    0%{
        transform: rotate(0deg) scale(2);
    }
    100%{
        transform: rotate(1turn) scale(2);
    }
}