:root {
  --color-primary: #445a4d;
  --color-secondary: #2a3b42;
  --color-background: #212226;
  --color-text: #b1d4b8;
  --color-accent: #eb8943;
}

/* ===== Reset / Normalize ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent vertical scroll */
}

